*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
  }
  
  .container{
    display: flex;
    flex-direction: column;
    background: rgb(31, 31, 31);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
  }
  
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem serif;
    border-bottom: solid 5px black;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
  }
  .input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border:none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
  }
  
  .input label {
    font: bold 1.5rem serif;
  }
  
  .buttons {
    display: flex;
    width: 100%;
    padding: 0px 30px;
  }
  
  .clean {
    width: 75px;
    height: 40px;
    font: bold 1.2rem serif;
    background: rgb(129, 14, 14);
    color: rgb(0, 0, 0);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 15px 15px 18px;
    padding: 0 10px;
    font-size: 15px;
    transition: 0.4s;
    border: none;
    
  }
  
  .clean:hover {
    background-color: rgb(255, 65, 65);
    color: black;
    border: none;
  }
  
  .calcular{
    width: 200px;
    height: 40px;
    font: bold 1.2rem serif;
    background: rgb(11, 121, 11);
    color: rgb(0, 0, 0);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 20px 15px 15px;
    transition: 0.4s;
    border: none;
  }
  
  .calcular:hover {
    background: rgb(15, 175, 15);
    color: black;
    border: none;
  }
  
  .result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    word-break: break-all;
    min-height: 150px;
    font-size: 22px;
    font-weight: bold;
  }

 
.mode {
    position: relative;
    top: 70px;
}

.mode button {
    width: 85px;
    height: 30px;
    margin: 20px 0;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .mode button:hover {
    background-color: rgb(201, 201, 4);
  }
  